.git
.github
.next
**/.next
**/.next-*
build
apps/api/storage
dist
**/dist
*.tsbuildinfo
**/*.tsbuildinfo
node_modules
**/node_modules
.env
.env.*
!.env.example
channel
backups
**/*.dump
**/*.private.env
**/*.private.yml
**/*.private.yaml
*.log
coverage
**/coverage
.idea
.vscode
.DS_Store
Thumbs.db
